#banner {
  width: 100vw;
  height: 60vh;
  /* border: 1px solid black; */
  display: flex;
  margin-top: 160px;
}

/* 
<div id="banner">
  <div id="contentContainer">
    <div id="textArea">이곳은 텍스트 영역</div>
    <div id="paginator">
      <div id="pageIndicator"></div>
      <div id="pageController"></div>
    </div>
  </div> 
</div>
*/

#contentContainer {
  width: 100vw;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  /* padding-top: 30%; */
  /* border: 1px solid red; */
  align-items: center;
  position: relative;
}

#textArea {
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 800;
  position: relative;
  top: 160px;
  left: 60px;
  color: white;
  text-shadow: 2px 2px 2px rgb(73, 73, 73);
  font-size: 40px;
  line-height: 40px;
  transition: 0.5s;
  /* font-family: 'Kolker Brush', cursive; */
  letter-spacing: 2px;
}

#textArea > p > span {
  font-size: 20px;
}

#paginator {
  width: 250px;
  height: 40px;
  display: flex;
  position: relative;
  top: 220px;
  left:100px;
  z-index: 200;
  transition: 0.5s;

}

#pageIndicator {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pageController {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pageController > div {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#pageController > div:nth-child(1) {
  background-image: url(../image/arrow.png);
  transform: rotate(180deg);
}

#pageController > div:nth-child(2) {
  background-image: url(../image/arrow.png);
}

#pageController > div:nth-child(3) {
  background-image: url(../image/pause.png);
}

#frontImageContainer {
  z-index: 100;
  position: absolute;
  background-position: center;
  background-size: cover;
  right: 370px;
  /* display: flex; */
  transition: 0.5s;
  bottom: 330px;
}

#frontImage {
  width: 500px;
  height: 350px;
  transition: 0.5s;
}

#backImageContainer {
  width: 500px;
  height: 350px;
  position: absolute;
  right: 50px;
  background-position: center;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  top: 300px;
  transition: 0.5s;
}

#backImage {
  width: 500px;
  height: 100%;
  transition: 0.5s;
  transition: 0.5s;
}


@media screen  and (max-width:890px) {
  #textArea {
    width: 400px;
    font-size: 25px;
  }
  #textArea > p > span {
    font-size: 16px;
  }
}

@media screen and (max-width:768px) {
  #banner {
    width: 100vw;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
  }

  #contentContainer {
    width: 100vw;
    height: 45vh;
    flex-direction: column;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-bottom: 0%;
    position: unset;
  }

  #frontImageContainer {
    width: 100vw;
    height:45vh;
    z-index: 100;
    position: absolute;
    background-position: center;
    background-size: cover;
    right:unset;
    transition: 0.5s;
    bottom: unset;
  }
  
  #frontImage {
    width:100%;
    height: 100%;
    transition: 0.5s;
  }

  #backImageContainer {
    display: none;
  }
  
  #textArea {
   display: none;
  }

  #paginator {
    width: 250px;
    height: 40px;
    display:flex;
    align-items:unset;
    justify-content:unset;
    position:relative;
    top:unset;
    left:unset;
    z-index: 200;
    transition: 0.5s;
    margin-bottom: 30px;
  }

  
  #pageIndicator {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #pageController {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}